body {font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
}

section {padding-top: 120px;
padding-bottom: 120px;}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;}

h1, h2, h3, p {margin: 0;}

ul {margin: 0;
    padding-left: 0;
    list-style-type: none;}

img {display: block;}

a {text-decoration: none;
display: inline-block;}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding : 0 15px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}
.nav .logo {margin-right: 76px;}

.nav-ul {
    display: flex;
    gap: 40px;
    }

.nav-ul li {padding: 24px 0;}

.address-ul {
    display: flex;
    gap: 40px;
   }

.logo {font-family: "Raleway", sans-serif;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}
.logo-span {color: #2e2f42;}
.logo-span-footer {color: #f4f4fd;
}

.link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      }

.link:hover,
.link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.title {background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
    padding: 188px 0;
}

.title .container {display: flex;
flex-direction: column;
align-items: center;}

.title-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 46px;
    max-width: 496px;
}

.button {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
border: none;
min-width: 169px;
}

.button:hover, .button:focus {background-color: #404bbf;}

.feature .container h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-ul {display: flex;
gap: 24px;}

.feature-items {width: calc((100%-24px*3)/4);}

.team {background-color: #f4f4fd;}

.team-list {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
background-color: #ffffff;
padding-bottom: 32px;}

.section-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-ul {display: flex;
gap: 24px;}

.team-items {display: flex;
    flex-direction: column;
    width: calc((100%-3*24px)/4);
background-color: #ffffff;
border-radius: 0 0 4px 4px;}

.portfolio-ul {display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-items {display: flex;
    flex-direction: column;
    width: calc((100%-48px)/3);
}

.section-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
    }

.section-p {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-left: 16px;
}
.footer {background-color: #2e2f42;
    padding: 100px 0;}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    max-width: 264px;
    }

.footer .container {display: flex;
flex-direction: column;}

